* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height:100vh;
  display: flex;
  background: black;
}
.memory-game{
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.memory-card{
  /* Each card width and height is calculated with calc() CSS function.
   Let’s make three rows, four card each by setting width to 25% and
   height to 33.333% minus 10px from margin. */
  width: calc(25% - 10px);
  height: calc(33.333% -10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform : scale(1)
}
.memory-card:active{
  /* in memory card the scale is 1 to 1 , with active when we click on it, it will
  shrink  and we added .2 second for the transiction */
  transform: scale(0.97);
  transition: transform .2s
}
.memory-card.flip{
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
}
